@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  min-height: 100vh;
  height: fit-content;
  max-width: 100vw;
  width: 100%;
  display: grid;
  position: relative;
  grid-template-columns: 18rem 1fr;
  grid-template-areas: "header header " "sidebar content";
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.m-left {
  margin-left: auto;
}

::-webkit-scrollbar {
  width: 5px;
  background: #f1f5f9;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #60a5fa;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 5rem auto 5rem;
    grid-template-areas: "header" "content" "sidebar";
  }
}

@media only screen and (min-width: 768px) {
  .App {
    grid-template-columns: 11rem 1fr;
    grid-template-rows: 6rem auto;
  }
}

@media only screen and (min-width: 1024px) {
  .App {
    grid-template-columns: 18rem 1fr;
    grid-template-rows: 6rem auto;
  }
}
