@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  min-height: 100vh;
  height: fit-content;
  max-width: 100vw;
  position: relative;
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

.m-left {
  margin-left: auto;
}

@media (min-width: 1024px) {
  .content {
    width: calc(100vw - 19rem);
    margin-left: 18rem;
    min-height: calc(100vh - 6rem);
  }
}

@media (max-width: 1024px) {
  .content {
    width: calc(100vw - 13rem);
    margin-left: 12rem;
    min-height: calc(100vh - 6rem);
  }
}

@media (max-width: 768px) {
  .content {
    width: 100vw;
    margin-left: 0;
    min-height: calc(100vh - 6rem);
  }
}

@media (max-width: 640px) {
  .content {
    width: 100vw;
    margin-left: 0;
    min-height: calc(100vh - 6rem);
  }
}

::-webkit-scrollbar {
  width: 5px;
  background: #f1f5f9;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #60a5fa;
  border-radius: 4px;
}
